Repository mgylabs/mkbot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pylint, test-build-console, test-build-bot, test-build-msu, test-pre-release

Path conditions:
  pylint: any of: src/bot/**/*, src/msu/**/*
  test-build-console: any of: src/console/**/*
  test-build-bot: any of: src/bot/**/*
  test-build-msu: any of: src/msu/**/*
  test-pre-release: any of: package/*.nsi

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Add hook files
  .gitlab-ci.yml
  requirements.txt
  scripts/build.bat
  src/bot/app.spec
  src/hooks/hook-discord.py
  src/hooks/hook-langdetect.py
  src/hooks/hook-mulgyeol_oauth.InstalledAppFlow.py
  src/hooks/hook-nacl.py
Due: pylint, test-build-bot

Support intellisense
  .vscode/settings.json
  src/bot/MGCert.py
  src/bot/app.py
  src/bot/command_help.py
  src/bot/core/delete.py
  src/bot/core/join.py
  src/bot/core/leave.py
  src/bot/core/logout.py
  src/bot/core/poll.py
  src/bot/core/translate.py
  src/bot/core/tts.py
  src/console/Program.cs
Due: pylint, test-build-console, test-build-bot

Implement Canary Update
  .vscode/tasks.json
  package/hash.py
  package/vc.py
  scripts/build.bat
  scripts/venv.bat
  src/bot/app.py
  src/bot/core/install.py
  src/bot/core/utils/config.py
  src/console/InfoForm.Designer.cs
  src/console/InfoForm.cs
  src/console/TrayApp.cs
  src/msu/Mulgyeol Software Update.py
Due: pylint, test-build-console, test-build-bot, test-build-msu

Fix test-build-bot job
  .gitlab-ci.yml
Due: none

English translation of help command (!42)
  src/bot/core/delete.py
  src/bot/core/join.py
  src/bot/core/leave.py
  src/bot/core/logout.py
  src/bot/core/poll.py
  src/bot/core/translate.py
  src/bot/core/tts.py
Due: pylint, test-build-bot

Bump version to 1.3.2
  package/info/version.json
Due: none

Women Voice bug fixed (typo) (!43)
  src/bot/core/tts.py
Due: pylint, test-build-bot

Migrate from GitLab
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/build.yml
  .github/workflows/stable-release.yml
  .vscode/launch.json
  changelogs/README.md
  changelogs/unreleased/.gitkeep
  package/ghtool.py
  package/info/version.json
  package/vc.py
  requirements.txt
  scripts/build.bat
  scripts/changelog.bat
  src/bot/app.py
  src/bot/core/utils/config.py
  src/console/InfoForm.Designer.cs
  src/console/InfoForm.cs
  src/msu/Mulgyeol Software Update.py
Due: pylint, test-build-console, test-build-bot, test-build-msu

Add changelog entry
  .github/workflows/build.yml
  changelogs/unreleased/7-Migrate-from-GitLab.yml
Due: none

Migrate from GitLab (#7)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/build.yml
  .github/workflows/stable-release.yml
  .vscode/launch.json
  changelogs/README.md
  changelogs/unreleased/.gitkeep
  changelogs/unreleased/7-Migrate-from-GitLab.yml
  package/ghtool.py
  package/info/version.json
  package/vc.py
  requirements.txt
  scripts/build.bat
  scripts/changelog.bat
  src/bot/app.py
  src/bot/core/utils/config.py
  src/console/InfoForm.Designer.cs
  src/console/InfoForm.cs
  src/msu/Mulgyeol Software Update.py
Due: pylint, test-build-console, test-build-bot, test-build-msu

Update changelog
  .github/workflows/stable-release.yml
  .gitignore
  CHANGELOG.md
  README.md
  package/ghtool.py
  package/vc.py
  scripts/build.bat
  src/bot/MsgFormat.py
  src/bot/command_help.py
  src/bot/core/tts.py
  src/console/InfoForm.cs
  src/msu/Mulgyeol Software Update.py
Due: pylint, test-build-console, test-build-bot, test-build-msu

Update changelog (#8)
  .github/workflows/stable-release.yml
  .gitignore
  CHANGELOG.md
  README.md
  package/ghtool.py
  package/vc.py
  scripts/build.bat
  src/bot/MsgFormat.py
  src/bot/command_help.py
  src/bot/core/tts.py
  src/console/InfoForm.cs
  src/msu/Mulgyeol Software Update.py
Due: pylint, test-build-console, test-build-bot, test-build-msu

Update Github Action
  .github/workflows/stable-release.yml
  package/ghtool.py
Due: none

Update CHANGELOG.md for v1.3.3
  CHANGELOG.md
Due: none

Add conversation mode
  src/bot/MGCert.py
  src/bot/app.py
  src/bot/core/translate.py
  src/bot/core/utils/listener.py
Due: pylint, test-build-bot

Add changelog entry
  .vscode/settings.json
  changelogs/unreleased/10-Add-conversation-mode-to-translation-command.yml
Due: none

Add conversation mode to translation command (#10)
  .vscode/settings.json
  changelogs/unreleased/10-Add-conversation-mode-to-translation-command.yml
  src/bot/MGCert.py
  src/bot/app.py
  src/bot/core/translate.py
  src/bot/core/utils/listener.py
Due: pylint, test-build-bot

Add Nightly Build
  .github/workflows/canary-release.yml
  .github/workflows/stable-release.yml
  package/ghtool.py
  package/info/version.json
  package/vc.py
  src/bot/core/translate.py
  src/bot/core/tts.py
  src/msu/Mulgyeol Software Update.py
Due: pylint, test-build-bot, test-build-msu

Fix a bug where multiple canary release comments were generated
  package/ghtool.py
Due: none

Update msu
  .github/workflows/build.yml
  .gitlab-ci.yml
  package/MKBot.nsi
  scripts/build.bat
  src/bot/MGCert.py
  src/bot/app.py
  src/bot/core/utils/api.py
  src/bot/core/utils/config.py
  src/console/InfoForm.Designer.cs
  src/console/InfoForm.cs
  src/console/TrayApp.cs
  src/msu/Mulgyeol Software Update.py
Due: pylint, test-build-console, test-build-bot, test-build-msu, test-pre-release

Update CHANGELOG.md for v1.3.3
  CHANGELOG.md
  changelogs/unreleased/10-Add-conversation-mode-to-translation-command.yml
  changelogs/unreleased/7-Migrate-from-GitLab.yml
Due: none

Fix IndexError
  package/ghtool.py
Due: none

Fix minor error
  package/ghtool.py
  src/msu/Mulgyeol Software Update.py
Due: pylint, test-build-msu

Fix minor bug
  package/MKBot.nsi
  package/vc.py
  src/msu/Mulgyeol Software Update.py
Due: pylint, test-build-msu, test-pre-release

Update README.md
  README.md
  package/ghtool.py
Due: none

Update installing description
  .github/workflows/canary-release.yml
  .vscode/tasks.json
  README.md
Due: none

Update CI/CD
  .github/workflows/stable-release.yml
  .gitlab-ci.yml
  package/vc.py
Due: none

Update config.schema
  .gitlab-ci.yml
  public/config.schema
  public/index.html
Due: none

title -> description
  public/config.schema
Due: none

Fix minor bugs
  package/ghtool.py
  src/bot/core/translate.py
Due: pylint, test-build-bot

Add unit test for msu
  .github/workflows/build.yml
  .gitignore
  .vscode/settings.json
  samples/extensions/extensions.json
  samples/extensions/test_bye/bye.py
  samples/extensions/test_hello/hello.py
  scripts/build.bat
  src/bot/app.py
  src/bot/core/delete.py
  src/bot/core/install.py
  src/bot/core/join.py
  src/bot/core/leave.py
  src/bot/core/logout.py
  src/bot/core/poll.py
  src/bot/core/roulette.py
  src/bot/core/translate.py
  src/bot/core/tts.py
  src/bot/core/utils/MGCert.py
  src/bot/core/utils/MsgFormat.py
  src/bot/core/utils/listener.py
  src/msu/msu.py
  src/msu/msu.spec
  tests/__init__.py
  tests/msu/__init__.py
  tests/msu/test_msu.py
Due: pylint, test-build-bot, test-build-msu

Bump version to 1.3.4
  package/info/version.json
Due: none

Add unit test for msu (#16)
  .github/workflows/build.yml
  .gitignore
  .vscode/settings.json
  package/info/version.json
  samples/extensions/extensions.json
  samples/extensions/test_bye/bye.py
  samples/extensions/test_hello/hello.py
  scripts/build.bat
  src/bot/app.py
  src/bot/core/delete.py
  src/bot/core/install.py
  src/bot/core/join.py
  src/bot/core/leave.py
  src/bot/core/logout.py
  src/bot/core/poll.py
  src/bot/core/roulette.py
  src/bot/core/translate.py
  src/bot/core/tts.py
  src/bot/core/utils/MGCert.py
  src/bot/core/utils/MsgFormat.py
  src/bot/core/utils/listener.py
  src/msu/msu.py
  src/msu/msu.spec
  tests/__init__.py
  tests/msu/__init__.py
  tests/msu/test_msu.py
Due: pylint, test-build-bot, test-build-msu

Remove unnecessary code
  src/bot/core/translate.py
Due: pylint, test-build-bot

Improve msu
  .github/pull_request_template.md
  changelogs/unreleased/17-Improve-msu.yml
  package/MKBot.VisualElementsManifest.xml
  package/MKBot.nsi
  package/Update.exe
  package/ghtool.py
  package/vc.py
  resources/app/MKBot_install.png
  resources/app/MKBot_on.png
  resources/app/mkbot_150x150.png
  resources/app/mkbot_70x70.png
  resources/package/welcome.bmp
  scripts/build.bat
  src/console/TrayApp.cs
  src/msu/msu.py
  src/msu/msu.spec
  tests/msu/test_msu.py
Due: pylint, test-build-console, test-build-msu, test-pre-release
